.box1 {
  display: flex;
  width: auto;
  height: max-content;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  background-color: rgb(87, 112, 112);
  flex-wrap: nowrap;
  box-shadow: 10px 10px 5px rgb(105, 104, 104);
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.box1 span {
  display: inline-block;
}

.box2 {
  align-self: flex-start;
  padding-right: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.box2:hover {
  cursor: pointer;
}

.box3 {
  background-color: rgb(87, 112, 112);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
}

a.box3 {
  text-decoration: none;
  color: white;
}

a.box3:hover {
  text-decoration: none;
}

.box3:hover {
  background-color: rgb(227, 182, 105);
}

.container2 {
  position: relative;
  width: 70%;
  border: 3px solid black;
  border-bottom: none;
  border-radius: 10px;
  padding-bottom: 30px;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.additem {
  margin-left: 30%;
  margin-right: 30%;
  display: inline;
  width: auto !important;
  color: black;
  background-color: bisque;
  padding: 5px;
  margin-top: 1%;
  border: 2px solid black;
}

#hidden {
  display: none;
}

.additem:hover {
  cursor: pointer;
}

.container>img {
  box-sizing: border-box;
  box-shadow: 10px 10px 10px rgb(166, 165, 165);
}

.container {
  align-items: center;
  align-content: center;
}

.container1 {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #252727;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 50%;
}

.image {
  border-radius: 15px;
  padding: 3px;
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}